:root {
        --color-blue: #007FFF;
        --color-green: #34A853;
        /* --color-light-background: #D0D4D8; */
        --color-light-background: #E0E0E0;
        --color-dark-background: black;
        --color-card-light-background: white;
        --color-card-dark-background: #1C1C1C;
        --font-family-base: -apple-system, BlinkMacSystemFont, SF Pro, Inter, Google Sans Flex, Roboto, Segoe UI, Helvetica Neue, Shanggu Sans, ChiuKong Gothic CL, LXGW XiHei CL, Sarasa Gothic CL, PingFang HK, Chiron Hei HK, Source Han Sans HC, Noto Sans CJK HK, IBM Plex Sans TC, Microsoft JhengHei, ui-sans-serif, sans-serif;
        --font-family-header: -apple-system, BlinkMacSystemFont, SF Pro, Inter, Google Sans Flex, Roboto, Segoe UI, Helvetica Neue, LXGW XiHei CL, PingFang HK, LXGW Neo XiHei, IBM Plex Sans TC, Microsoft JhengHei, ui-sans-serif, sans-serif;
        --font-family-mono: Jetbrains Mono, Monaspace Neon, SF Mono, SFMono-Regular, Roboto Mono, ui-monospace, Consolas, Menlo, monospace;
}

html, body {
        font-family: var(--font-family-base);
        text-spacing-trim: trim-start;
        padding: 0;
        margin: 0;
}

h1, h2, h3 {
        font-weight: 500;
        line-height: 1.5em;
}

a {
        text-decoration: none;
        color: var(--color-blue);
}
a:hover {
        text-decoration: underline;
        color: var(--color-green);
}

pre {
        overflow: auto;
        white-space: pre;
        padding: 0.5em;
        border-radius: 0.8em;
}
code, kbd {
        font-family: var(--font-family-mono);
        font-feature-settings: "calt", "cv01", "cv08", "cv09", "cv10", "cv11", "cv12", "zero", "liga";
        font-size: 0.9em;
}
code.line-block {
        border-radius: 4px;
        padding: 2px 6px;
}
kbd {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid gray;
        padding: 2px 4px;
        line-height: 1em;
}

.left-align {
        text-align: left;
}
.center-align {
        text-align: center;
}

.more-line-height {
        line-height: 1.6em;
}
.even-more-line-height {
        line-height: 1.8em;
}
.double-line-height {
        line-height: 2em;
}

.green-block {
        padding: 2px 4px;
        border-radius: 4px;
        color: white;
        background: var(--color-green);
}
