@import url(header.css);

html, body {
        font-family: -apple-system, BlinkMacSystemFont, SF Pro, Inter, Google Sans Text, Roboto, Segoe UI, Helvetica Neue, Noto Sans, Arial, Advocate Ancient Sans, ChiuKong Gothic CL, Source Han Sans K, Noto Sans CJK KR, Sarasa Gothic CL, PingFang HK, Source Han Sans HC, Noto Sans CJK HK, Noto Sans HK, Microsoft JhengHei, ui-sans-serif, sans-serif;
        background: #D6D8DD;
        padding: 0;
        margin: 0;
}

a {
        text-decoration: none;
        color: #1F9BF3;
}
a:hover {
        text-decoration: underline;
        color: #34A853;
}

pre {
        overflow: auto;
        white-space: pre;
        padding: 0.8em;
        border-radius: 0.8em;
        background: #D6D8DD;
}
code {
        font-family: SF Mono, SFMono-Regular, ui-monospace, Monaspace Neon, Jetbrains Mono, Consolas, Menlo, monospace;
        font-size: 0.9em;
}

h1, h2, h3 {
        font-weight: 500;
        line-height: 1.5em;
}

.footnote {
        font-size: 0.9em;
}

.menu-item {
        padding: 1em;
}

.left-align {
        text-align: left;
}

.more-line-height {
        line-height: 1.6em;
}
.even-more-line-height {
        line-height: 1.8em;
}
.double-line-height {
        line-height: 2em;
}

.card {
        text-align: center;
        border-radius: 32px;
        background: white;
        width: 48%;
        margin-left: 22%;
        margin-top: 66px;
        margin-bottom: 1em;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 4%;
        padding-right: 4%;
}

.green-block {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        color: white;
        background-color: #34A853;
}

img.screenshot {
        width: 40%;
        border-radius: 8px;
}

img.badge {
        width: 160px;
}

@media (max-width: 1078px) {
        .card {
                width: 68%;
                margin-left: 12%;
        }
        img.screenshot {
                width: 60%;
        }
}
@media (max-width: 802px) {
        .card {
                width: 90%;
                margin-left: 1%;
        }
        img.screenshot {
                width: 75%;
        }
}

@media(prefers-color-scheme: dark) {
        html, body {
                color: white;
                background: black;
        }
        pre {
                background: black;
        }
        .card {
                background: #1c1c1c;
        }
}
