@import url(header.css);

html, body {
        font-family: -apple-system, BlinkMacSystemFont, SF Pro, Inter, Roboto, Segoe UI, Helvetica Neue, Noto Sans, Arial, Shanggu Sans, ChiuKong Gothic CL, Chocolate Classical Sans, Sarasa Gothic CL, Source Han Sans K, Noto Sans CJK KR, PingFang HK, Chiron Hei HK, Source Han Sans HC, Noto Sans CJK HK, Microsoft JhengHei, ui-sans-serif, sans-serif;
        background: #D6D8DD;
        padding: 0;
        margin: 0;
}

a {
        text-decoration: none;
        color: #007FFF;
}
a:hover {
        text-decoration: underline;
        color: #34A853;
}
a.bookmark:hover {
        text-decoration: none;
        color: #007FFF;
}
a.download {
        font-size: 1.1em;
}

pre {
        overflow: auto;
        white-space: pre;
        padding: 0.5em;
        border-radius: 0.8em;
        background: #D6D8DD;
}
code {
        font-family: Monaspace Neon, Jetbrains Mono, SF Mono, SFMono-Regular, ui-monospace, Consolas, Menlo, monospace;
        font-size: 0.9em;
}
kbd {
        display: inline-block;
        background: #eeeeee;
        border-radius: 4px;
        border: 1px solid #D6D8DD;
        padding: 2px 4px;
        line-height: 1;
        font-family: Monaspace Neon, Jetbrains Mono, SF Mono, SFMono-Regular, ui-monospace, Consolas, Menlo, monospace;
        font-size: 0.9em;
}

h1, h2, h3 {
        font-weight: 500;
        line-height: 1.5em;
}

.footnote {
        font-size: 0.9em;
        line-height: 1.4em;
}

.left-align {
        text-align: left;
}
.center-align {
        text-align: center;
}

.more-line-height {
        line-height: 1.6em;
}
.even-more-line-height {
        line-height: 1.8em;
}
.double-line-height {
        line-height: 2em;
}

.card {
        text-align: center;
        border-radius: 32px;
        background: white;
        width: 48%;
        margin-left: 22%;
        margin-top: 56px;
        margin-bottom: 1em;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 4%;
        padding-right: 4%;
}

.green-block {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        color: white;
        background: #34A853;
}

img.screenshot {
        width: 36%;
        border-radius: 8px;
}

img.badge {
        width: 160px;
}
img.qrcode {
        width: 172px;
}

@media (max-width: 1078px) {
        .card {
                width: 68%;
                margin-left: 12%;
        }
        img.screenshot {
                width: 60%;
        }
}
@media (max-width: 802px) {
        .card {
                width: 90%;
                margin-left: 1%;
        }
        img.screenshot {
                width: 75%;
        }
}

@media(prefers-color-scheme: dark) {
        html, body {
                color: white;
                background: black;
        }
        pre {
                background: black;
        }
        kbd {
                background: black;
        }
        .card {
                background: #1c1c1c;
        }
}
